            *{
                box-sizing: border-box;
            }

            

            html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, 
            ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header{
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                vertical-align: baseline;
            }

            html {
            scroll-behavior: smooth;  
            }

            body{
                background-color: rgb(153, 201, 239);
                font-family: monospace;
            }

            #main{
              background-color: rgb(255, 255, 255);
              display: flex;
              align-items: center; 
              justify-content: center;
              margin-top: 100px;
              padding: 150px 50px 150px 50px;
              margin-left: 500px;
              margin-right: 500px;
              border: 5px solid black;
            }
            .login{
              background-color: rgb(153, 201, 239);
              width: 400px;
              height: 50px;
              border: 3px solid black;
              font-size: 18px;

            }
            .login:hover{
              color: aliceblue;
            }
            .email{
              background-color: rgb(153, 201, 239);
              padding: 10px;
              width: 400px;
              margin-bottom: 40px;
              border: 3px solid black;
            }
            .password{
              background-color: rgb(153, 201, 239);
              padding: 10px;
              width: 400px;
              margin-bottom: 100px;
              border: 3px solid black;
            }
            .info{
              margin-top: -120px;
              margin-bottom: 50px;
              margin-left: 145px;
              font-size: 250%;
              
            }

          

            